# Database
DATABASE_URL="postgresql://user:password@localhost:5432/postr"

# AWS S3
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
AWS_S3_BUCKET=""

# JWT Secret (min 32 chars, random string)
JWT_SECRET="your-super-secret-jwt-key-min-32-chars-here"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
